main{
    height: 92%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
form{
display: flex;
flex-direction: column;
background-color: white;
padding: 20px;
border-radius: 5px;
width: 320px;
}

form label,form input, form h1{
    margin: 7px 0;
}
form input{
    padding: 12px;
    border-radius: 3px;
}
form label{
    font-weight: 700;
}
form button{
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    fill: white;
    font-family: Inika,sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    touch-action: manipulation;
    border-radius: 3px;
    margin-top: 15px;
}


form button:focus {
color: #171e29;
}

form button:hover {
color: black;
fill: white;
background-color: white;
}

form button:active {
color: black;
fill: white;
background-color: white;
}
.alert{
    width: 320px;
    margin: 15px 0;
    text-align: center;
}